html, body {
  height: 100%;
}
body {
  line-height: 1.3em;
  min-width: 920px;
  font: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
header {
  text-align: center;
  align-content: center;
}
.footer {
  background-color: darkseagreen;
  flex-shrink: 0;
}
.centered {
  text-align: center;
}
.content {
  flex: 1 0 auto;
  width: 80%;
  margin: auto;
}
.line1 {
  border-style: Solid;
  border-color: black;
  border-width: 1px;
  width: 75%;
}
.navlink {
  font-size: large;
}
.history-tl-container {
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}
.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}
.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 200px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86D6FF;
  padding: 0 0 50px 30px;
  position: relative;
}
.history-tl-container ul.tl li:last-child {
  border-left: 0;
}
.history-tl-container ul.tl li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258CC7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}
.history-tl-container ul.tl li:hover::before {
  border-color: #258CC7;
  transition: all 1000ms ease-in-out;
}
ul.tl li .item-title {}
ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
ul.tl li .timestamp {
  color: #8D8D8D;
  position: absolute;
  width: 100px;
  left: -50%;
  text-align: right;
  font-size: 12px;
}
.groups {
  margin: auto;
  align-content: center;
  text-align: center;
}
.hobbies {
  margin: auto;
  align-content: center;
  text-align: center;
  border-right: solid black 1px;
}