html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
.content {
  flex: 1 0 auto;
  width: 80%;
  margin: auto;
}
header {
  text-align: center;
  align-content: center;
}
.line1 {
  border-style: Solid;
  border-color: black;
  border-width: 1px;
  width: 75%;
}
.navlink {
  font-size: large;
}
.brief-name {
  margin: auto;
  align-content: center;
  text-align: center;
}
.footer {
  background-color: darkseagreen;
  flex-shrink: 0;
}
.centered {
  text-align: center;
}
.groups {
  margin: auto;
  align-content: center;
  text-align: center;
}
.hobbies {
  margin: auto;
  align-content: center;
  text-align: center;
  border-right: solid black 1px;
}