<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link rel="stylesheet" href="../style/main.css">
<link rel="stylesheet" href="../style/about.css">
<link href="../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>
<body class="about-body">
<div class="container-fluid">
  <div class="row justify-content-center">
    <header>
      <h1>Jonah Unger</h1>
      <hr class="line1">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="../index.html">Home</a> </li>
        <li class="nav-item"> <a class="nav-link active" href="about.html">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="works.html">Selected Works</a> </li>
        <li class="nav-item"> <a class="nav-link" href="resume.html">Resume</a> </li>
      </ul>
      <hr class="line1">
    </header>
  </div>
</div>
<div>
  <div class="content">
    <div class="row">
      <div class="history-tl-container">
        <ul class="tl">
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp"> 7th June 2021<br>
              3:43 PM </div>
            <div class="item-title">Born</div>
            <div class="item-detail">Baltimore MD, USA</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp"> September 2017<br>
            </div>
            <div class="item-title">Began Studying at HACC</div>
            <div class="item-detail">Duel Enrollment</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp"> 8th June 2019<br>
              3:30 PM </div>
            <div class="item-title">Graduated High School</div>
            <div class="item-detail">Home Schooled</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp"> 13th May 2021 <br>
            </div>
            <div class="item-title">Graduated College</div>
            <div class="item-detail">Harrisburg Area Community College. Associates in Applied Science, Web and Interactive Media.</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp"> 9th September 2021 <br>
            </div>
            <div class="item-title">Moved to Dundee, Scotland</div>
            <div class="item-detail"></div>
          </li>
        </ul>
      </div>
      <div class="col-lg centered">
        <p>I am a 20 year old student, attending a Bachelor's program in <a href="https://www.abertay.ac.uk/course-search/undergraduate/computer-game-applications-development/">Game Production and Design</a> at <a href="https://www.abertay.ac.uk/">Abertay University</a> in Dundee Scotland. I will be focusing on the writing and creative aspects of video game design. I was homeschooled from 3rd to 12th grade, and attended Harrisburg Area Community College (<a href="https://www.hacc.edu/">HACC</a>) since my junior year of high school; I graduated from HACC with an Associates in Applied science in May of 2021.</p>
        <p>Over my time at HACC, I developed extensive experience in most areas of web design including knowledge of numerous coding languages, experience with image editing in many different formats, 2-D and stop-motion animation, graphic design, and other aspects of both web and interactive media. A full list of my qualifications can be seen in my <a href="resume.html">resume.</a> My most recent project is a website for a local orchard, which I worked on along with two of my peers, and can be seen <a href="http://sunhighorchard.farm/">here.</a></p>
        <p>Although until now my college career has been spent studying the various aspects of web design (including coding, graphic design, photo editing, and typography), my true passion and future career are in video game design. I have always had a deep passion for creative writing, especially the process of world-building. To further this career I am currently studying at Abertay University, a college with an excellent reputation in the field of game design. I will continue to expand my talents and increase my skills throughout this four year programme.</p>
      </div>
    </div>
    <div class="container-fluid col-12">
      <div class="row">
        <div class="col-6 hobbies">
          <h5>Hobbies</h5>
          <p>While my education has been in web design and my career is in game design, I have a past rich with different experiences. Some of my greatest strengths, such as public speaking, come from my long envolvement in local theatre. Since Fall of 2012 I have been an avid thespian, enjoying being onstage, backstage, or watching from the audience.</p>
          <p>Creative writing has always been another one of my passions, and a wonderful way to strengthen your creative skills is through role-play games, such as Dungeons and Dragons. I have been a large fan of D&D for years, but only recently started to seriously play. I greatly enjoy the process of character creation and world-building in a responsive and adaptive environment, and firmly believe that games such as D&D, when taken seriously, can strengthen creative talents and improve teamwork skills.</p>
        </div>
        <div class="col-6 groups">
          <h5>Groups</h5>
          <p>I am a member of the Phi Thetta Kappa Honors Society, Alpha Nu Omega chapter. In 2020, I participated in two group projects: the Honors in Action was focused on researching the effects of community gardens on mental health, physical health, and the environment, and then attempting to start or fund a community garden in or near HACC; and the College Project was tasked with creating an online way for students to interact with and support one another, helping to fill the gaps left by Covid-induced social distancing.</p>
          <p>I have recently been made one of the Student Representatives, of which there are two per programme per year. The Student Rep is essentially a bridge, or mediator, between the faculty and the students, providing a middle ground and point of contact. In addition to this I am an active member of multiple Associations run by fellow students of Abertay, including the Game Design, Literary, Roleplay Games, and LGBTQ+ Societies.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid col-12">
    <div class="row">
      <div class="col-4">&copy;Jonah Unger, September 2021</div>
      <div class="col-4"><a href="mailto:JonahCUnger@gmail.com">JonahCUnger@gmail.com</a><br>
        +44 07951692588<br>
        Flat 7K, Lyon Street, Dundee DD4 6RF, Scotland </div>
      <div class="col-4"><a href="https://www.facebook.com/profile.php?id=100011913977481">Facebook</a><br>
        <a href="https://www.linkedin.com/in/jonah-unger-408607192/">LinkedIn</a></div>
    </div>
  </div>
</footer>
</body>
</html>